#brackets-build-sys-status {
  transition: background-color 1s;
  display: block;
}

.Inactive {
  
}

.Finished {
  background-color: #91CC41;
}

.Error {
  background-color: #F74687;
}

.Warning {
  background-color: #E3B551;
}

.Progressing {
  background-color: #78B2F2;
}

#brackets-build-sys-panel .tools {
  position: absolute;
  bottom: 1.5px;
	right: 50px;
}
